@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

:root {
	--title: #61aded;
	--text: #cccccc;
	--background: #202124;
	--input: #292a2e;
	--placeholder: #757575;
	--footer: #ffffff2d;

	--text-size: 12pt;
	--title-size: 12pt;
	--footer-size: 9pt;

	--teal: #54b5c1;
	--blue: #5486fc;
	--light-blue: #61aded;
	--pink: #c874da;
	--green: #97c47d;
	--soft-red: #e16d75;
	--red: #bf5147;
	--brown: #d19b69;
	--yellow: #e5c27f;
}

* {
	font-family: "JetBrains Mono", monospace;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--background);
	display: grid;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 92.5vh;
	overflow: hidden;
	animation: fadeIn ease-in-out 0.35s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

a {
	font-weight: 400;
}

.container a {
	text-decoration: underline solid transparent;
	color: var(--text);
	transition: all ease 0.15s;
	font-size: var(--text-size);
}

.container a:hover {
	text-decoration: underline solid var(--text);
}

input {
	background-color: transparent;
	padding: 7px;
	width: var(--search-width);
	border-radius: 7px;
	color: var(--text);
	border: none;
	outline: none;
	font-size: var(--text-size);
	text-align: center;
	font-weight: 400;
	caret-color: var(--text);
	transition: all ease-in-out 0.15s;
}

input:focus {
	background-color: var(--input);
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}

.links {
	display: flex;
	flex-direction: row;
	text-align: center;
	gap: 60px;
}

.links div {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

h4 {
	margin-bottom: 0px;
	filter: grayscale(0.35);
	font-size: var(--title-size);
}

footer {
	position: absolute;
	bottom: 3px;
	right: 5px;
	text-align: center;
	font-size: var(--footer-size);
	font-weight: 100;
}

footer a {
	text-decoration: none;
	color: var(--footer);
}

.cat {
	color: #cccccc;
	width: min-content;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

::selection {
	background-color: var(--text);
	color: var(--background);
}

.blue {
	color: var(--blue);
}

.teal {
	color: var(--teal);
}

.light-blue {
	color: var(--light-blue);
}

.pink {
	color: var(--pink);
}

.green {
	color: var(--green);
}

.soft-red {
	color: var(--soft-red);
}

.red {
	color: var(--red);
}

.brown {
	color: var(--brown);
}

.yellow {
	color: var(--yellow);
}

@media screen and (max-width: 600px) {
	body {
		height: 92.5vh;
	}

	input,
	.cat {
		display: none;
	}

	.links {
		flex-direction: column;
		gap: 40px;
	}
}
